.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-link {
    color: #FFF;
    text-decoration: none;
}

main {
    margin: 16px 16px;
}

div#crypto-container {
    background:white;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
  }

  span.left {
    font-weight: bold;
  }

  span.right {
    float:right;
  }


